.movie-card{
    max-width:100%;
    display: flex;
    justify-content: center;
}

.button-container{
    display: flex;
    justify-content: center;
    text-decoration:none;
    margin: 10px;
}

.trailer-button{
    text-decoration: none;
    border-radius: 10%;    
    height: 40px;
}